# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
.vs/
x64/
become-millionaire-game.sln
become-millionaire-game.vcxproj
become-millionaire-game.vcxproj.filters
become-millionaire-game.vcxproj.user


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
